.computer-text{
    border-right: 2px solid rgba(255,255,255,0.5);
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
}
.typing-animation {
    animation: 
        blinkCursor 500ms infinite normal, 
        typing 4s steps(50) 1s infinite normal;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 13.5rem;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: rgba(255,255,255,0.5);
    }
    to {
        border-right-color: transparent; 
    }
}

.show-element{
    animation-name: showElement;
    margin-left: 0;
    animation-duration: 500ms;
}

@keyframes showElement {
    from{
        margin-left: -100%;
    }
    to{
        margin-left: 0;
    }
}

.grow-right{
    animation: growRight;
    animation-duration: 1s;
}

@keyframes growRight{
    0% { margin-left: -100%;}
    100% {margin-left: 0;}
}

.grow-up{
    animation: growUp;
    animation-duration: 1s;
}

@keyframes growUp {
    0% { margin-left: -500%;}
    50% { margin-left: -200%;}
    75% { margin-left: -100%;}
    100% { margin-left: 0%;}
}

.clicked{
    opacity: 0.25;
}